.container {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-self: center;
}

button {

  background-color: #52B8D1;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  height: 2.5pc;
  width: 2.5pc;
  box-shadow: 0 4px 8px 0 rgba(5, 5, 5, 0.2);
  transition: 0.3s;
  font-weight: bold;
  color: white;
  margin: 2%;
  align-self: flex-end;
}

button:hover {
  background-color: #afafaf;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  height: 2pc;
  line-height: 2pc;
}


table {

  border-collapse: separate;
  border-spacing: 0px;
  text-align: center;
  font-size: normal;
  width: 98%
  align-self: center;
  height: 80%;

}

td {
  width: 136px;
}

td:first-child {
  width: 100px;
}

td:nth-child(2) {
  width: 10px;
}

tr {
  height: 45px;
}

th {
  width: min-content;
  text-align: center;
  background-color: #5ACCB7;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}


table tr:nth-child(even) {
  background-color: #e6e6e6;

}

table tr:nth-child(odd) {
  background-color: #ffffff;
}


body {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #424343;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  align-self: flex-start;
  vertical-align: middle;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #5ACCB7; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 40%;
  align-self: center;
  vertical-align: middle;
  display: flex;
  justify-content: center
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}