.container {

  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  align-self: center;

}

button {

  background-color: #52B8D1;
  border: none;
  font-size: 16px;
  margin: 1.5%;
  cursor: pointer;
  border-radius: 8px;
  height: 2pc;
  width: 2pc;
  box-shadow: 0 4px 8px 0 rgba(5, 5, 5, 0.2);
  transition: 0.3s;
  font-weight: bold;
  color: white;



}

button:hover {
  background-color: #afafaf;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  height: 2pc;
  line-height: 2pc;
}


table {
  border-collapse: separate;
  border-spacing: 0px;
  text-align: center;
  font-size: x-large;
  width: 97%;
  height: 92%;
  align-self: center;
}

td {
  width: min-content;
}


th{
  
    background-color: #5ACCB7;
}

th:nth-child(odd){
  border-top-left-radius: 10px;
}
th:nth-child(even){
  border-top-right-radius: 10px;
}


table tbody:nth-child(even) {
  background-color: #e6e6e6;

}

table tbody:nth-child(odd) {
  
  background-color: #ffffff;
}


body {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #272727;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);

}