body {
    background-color: #f3f1ee;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    width: 100%;
    height: 95svh;
    grid-template-columns: max-content auto;
    grid-template-rows: 50svh 50svh;
    align-content: start;
    margin: 0%;
    margin-top: 10px;
}


table,
th,
td {
    border-bottom: 1px solid rgb(156, 213, 223);
    border-collapse: collapse;
    text-align: center;
    height: fit-content;
    padding: 5px;
    width: min-content;
}

table {
    width: 99%;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
    background-color: #7ca8c2;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #e0ebeb;
}

tr:nth-child(odd) {
    background: #F8F6F4;
}

td:nth-child(3) {
    font-size: x-large;

}

tr:hover {
    background-color: #9dc5c2;
}

.blue-button {

    background-color: #2879ba;
    border: none;
    color: white;
    margin-top: 20px;
    width: 85%;
    height: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    transition-duration: 0.3s;
    border: 2px solid #2879ba;    
    justify-self: center;
    margin-bottom: 25px;

}


.blue-button:hover {
    background-color: #ffffff;
    color: #2879ba;

}


.edit-button {
    background-color: #2879ba;
    margin: 0px 5px;
    border: none;
    color: white;
    width: 33px;
    height: 100%;
    font-size: medium;
    transition-duration: 0.4s;
    transition-duration: 0.3s;    
    text-align: center;
}

.edit-button:hover {
    background-color: #df776c;
}

.form-div {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid #98b9d3;
    border-right: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);    
}

.control-div {
    grid-column: 1;
    grid-row: 2;
    border: 1px solid #98b9d3;
    border-right: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.table-div {
    overflow: auto;
    grid-row: 1 / span 2;
    grid-column: 2;
}


.add-form {

    box-sizing: border-box;    
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 0.5rem 10px;
    text-align: start;
    height: 100%;
    align-content: start;
    justify-content: center;
    margin: 0px;

}

.form-full-width {
    grid-column: span 2;
}

.radio-group {
    width: max-content;
}

.form-header {

    width: 100%;
    font-weight: bold;
    font-size: large;
    margin: 0px;
    text-align: center;
    padding-top: 3%;
}


.input-text {
    width: 100%;
    font-size: medium;
}

.search-input {
    font-size: larger;
    width: 83%;
}

label {
    font-size: large;

}


.edit-dialog {
    display: none;
    position: fixed; 
    z-index: 1; 
    margin: 0;
    margin-left: auto;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .edit-dialog-content {
    background-color: #F8F6F4;
    box-sizing: border-box;    
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 0.5rem 10px;
    text-align: start;
    width: max-content;
    align-content: start;
    justify-self: center;
    align-self: center;
    padding: 20px 100px;
    
  }

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    justify-self: end;
    grid-column: 2;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }