body{

   
    width: 90svh;
    height: 90dvh;
    overflow: hidden;
}

input{
    padding: 10px;
}
button{
    margin: 5px;
    height: 35px;
    width: 15%;
    min-width: 125px;
}
 .main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}